body { background-color: bisque;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;}
h1 { position: relative;
    font-size: 80px;
color: bisque;
-webkit-text-stroke: 0.1vw white;
text-transform: uppercase;}
h1::before { content: attr(data-text);
    position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
color: black;
-webkit-text-stroke: 0vw white;
border-right: 2px solid black;
overflow: hidden;
animation: animate 6s linear infinite;}
@keyframes animate
{
    0%,10%,100%
{ 
    width: 0%;
} 70%,90%
{
width: 100%;
}}